header {
  width: 100%;
  height: 260px;

  background: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;
  
  h1 {
    color: var(--color-white);
  
    span {
      color: var(--color-green);
    }
  }
}