main {
  padding-bottom: 100px;

  div.noTransactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-align: center;

    opacity: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;

    h2 {
      color: var(--color-green);
    }

    img {
      width: 100px;
    }
  }

  div.noTransactions.active {
    opacity: 1;
    visibility: visible;
    width: unset;
    height: unset;
    overflow: unset;
  }
}

section#balance {
  margin-top: -30px;

  div.card {
    background: var(--color-shape);
    color: #fff;
    border-radius: 5px;

    padding: 25px 35px;
    margin-bottom: 20px;

    h3 {
      font-size: 17px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 50px;
      }
    }

    p {
      font-size: 25px;
      line-height: 30px;
    }
  }
}

section#transaction {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;

  div.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 17px;
      color: var(--color-green);
      
      text-decoration: none;
  
      display: inline-block;
      margin: 0 0 20px 20px;
  
      opacity: .6;
      transition: .2s;
  
      &:hover {
        margin: 0 0 20px 30px;
        opacity: 1;
      }
    }

    button {
      padding: 10px;
      margin-bottom: 10px;

      background: var(--color-shape);

      font-size: 16px;
      color: #fff;

      transition: .2s;

      opacity: 0;
      visibility: hidden;

      &:hover {
        background: var(--color-red);
      }
    }

    button.active {
      opacity: 1;
      visibility: visible;
    }
  }

  table#data-table {
    width: 100%;
    border-spacing: 0;
    color: #fff;
    
    opacity: 0;
    visibility: hidden;

    thead, tbody {
      tr {
        th:first-child, td:first-child {
          border-radius: 5px 0 0 5px;
        }
  
        th:last-child, td:last-child {
          border-radius: 0 5px 5px 0;
        }
      }
      
    }

    thead {
      th {
        font-size: 18px;
        font-weight: normal;
    
        background: var(--color-background);
        padding: 15px 25px;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      opacity: 0.6;
      transition: .2s;

      &:hover {
        opacity: 1;
      }

      td {
        background: var(--color-shape);
        padding: 15px 25px;
        font-size: 18px;
    
        &.description {
          color: #fff;
        }
    
        &.income {
          color: var(--color-green);
        }
    
        &.expense {
          color: #e92929;
        }
      }
    }
  }
}

section#transaction {
  table#data-table.active {
    opacity: 1;
    visibility: visible;
  }
}