main {
  padding-bottom: 100px;
}

section#balance {
  margin-top: -30px;

  div.card {
    background: var(--color-shape);
    color: #fff;
    border-radius: 5px;

    padding: 25px 35px;
    margin-bottom: 20px;

    h3 {
      font-size: 17px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 50px;
      }
    }

    p {
      font-size: 25px;
      line-height: 30px;
    }
  }
}

section#transaction {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;

  a {
    font-size: 17px;
    color: var(--color-green);
    
    text-decoration: none;

    display: inline-block;
    margin: 0 0 20px 20px;

    opacity: .6;
    transition: .2s;

    &:hover {
      margin: 0 0 20px 30px;
      opacity: 1;
    }
  }

  table#data-table {
    width: 100%;
    border-spacing: 0;
    color: #fff;

    thead, tbody {
      tr {
        th:first-child, td:first-child {
          border-radius: 5px 0 0 5px;
        }
  
        th:last-child, td:last-child {
          border-radius: 0 5px 5px 0;
        }
      }
      
    }

    thead {
      th {
        font-size: 18px;
        font-weight: normal;
    
        background: var(--color-background);
        padding: 15px 25px;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      opacity: 0.6;
      transition: .2s;

      &:hover {
        opacity: 1;
      }

      td {
        background: var(--color-shape);
        padding: 15px 25px;
        font-size: 18px;
    
        &.description {
          color: #fff;
        }
    
        &.income {
          color: var(--color-green);
        }
    
        &.expense {
          color: #e92929;
        }
      }
    }
  }
}