* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #29292e;
}

:root {
  --color-background: #121214;
  --color-green: #51fd8a;
  --color-red: #ce4a4a;
  --color-orange: #ff7a29;
  --color-yellow: #FFCD1E ;
  --color-attention: #332616;
  --color-primary: #ff008e;
  --color-primary-dark: #d60077;
  --color-primary-hover: #ff4db0;
  --color-secondary: #e1e1e6;
  --color-text: #a8a8b3;
  --color-support: #737380;
  --color-shape: #202024;
  --color-shape-hover: #29292e;
  --color-technologies: rgba(75,75,75,0.2);
  --color-icons: #41414d;
  --color-borders: #323238;
  --color-black: #09090a;
  --color-white: #fff;
  --color-purple: #8257e6;
  --color-scrollbar: #4d4d57;
  --color-scrollbar-background: transparent;
  --color-gradient: linear-gradient(155.34deg,#ff018e -0.59%,#ffa17b 51.28%,#ffcd1e);
  --text: 18px;
  --text-title: 36px;
}

h1, h2, h3, h4, h5, h6, p, button, input, a, * {
  font-family: 'Lato', sans-serif;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  position: absolute;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cancel {
  background: red;
  color: #fff;
}

.confirm {
  background: #64c864;
  color: #fff;
}

@media (min-width: 800px) {
  section#balance {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  section#balance .card {
    max-width: 500px;
  }
  section#transaction {
    max-width: 1100px;
    margin: 0 auto;
    overflow-x: auto;
  }
}

header {
  width: 100%;
  height: 260px;
  background: var(--color-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 200px;
}

section#balance {
  margin-top: -30px;
}

section#balance div.card {
  background: var(--color-shape);
  color: #fff;
  border-radius: 5px;
  padding: 25px 35px;
  margin-bottom: 20px;
}

section#balance div.card h3 {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#balance div.card h3 img {
  width: 50px;
}

section#balance div.card p {
  font-size: 25px;
  line-height: 30px;
}

section#transaction {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
  padding-bottom: 100px;
}

section#transaction a {
  font-size: 17px;
  color: var(--color-green);
  text-decoration: none;
  display: inline-block;
  margin: 0 0 20px 20px;
  opacity: .6;
  -webkit-transition: .2s;
  transition: .2s;
}

section#transaction a:hover {
  margin: 0 0 20px 30px;
  opacity: 1;
}

section#transaction table#data-table {
  width: 100%;
  border-spacing: 0;
  color: #fff;
}

section#transaction table#data-table thead tr th:first-child, section#transaction table#data-table thead tr td:first-child, section#transaction table#data-table tbody tr th:first-child, section#transaction table#data-table tbody tr td:first-child {
  border-radius: 5px 0 0 5px;
}

section#transaction table#data-table thead tr th:last-child, section#transaction table#data-table thead tr td:last-child, section#transaction table#data-table tbody tr th:last-child, section#transaction table#data-table tbody tr td:last-child {
  border-radius: 0 5px 5px 0;
}

section#transaction table#data-table thead th {
  font-size: 18px;
  font-weight: normal;
  background: var(--color-background);
  padding: 15px 25px;
  text-align: left;
}

section#transaction tbody tr {
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: .2s;
}

section#transaction tbody tr:hover {
  opacity: 1;
}

section#transaction tbody tr td {
  background: var(--color-shape);
  padding: 15px 25px;
  font-size: 18px;
}

section#transaction tbody tr td.description {
  color: #fff;
}

section#transaction tbody tr td.income {
  color: var(--color-green);
}

section#transaction tbody tr td.expense {
  color: #e92929;
}

div.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

div.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
}

div.modal-overlay .modal {
  padding: 20px;
  background: var(--color-shape);
  color: var(--color-purple);
}

div.modal-overlay .modal form div.input-group {
  width: 100%;
  height: auto;
  padding: 15px;
}

div.modal-overlay .modal form div.input-group label {
  color: var(--color-purple);
}

div.modal-overlay .modal form div.input-group label span {
  font-size: 14px;
  opacity: 0.6;
}

div.modal-overlay .modal form div.input-group input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  margin-top: 10px;
  color: #fff;
  background: var(--color-shape-hover);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

div.modal-overlay .modal form div.buttons-group {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

div.modal-overlay .modal form div.buttons-group button {
  width: 150px;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
}

div.modal-overlay .modal form div.buttons-group button:hover {
  margin-top: -7px;
}

div.modal-overlay .modal form div.buttons-group .cancel {
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: .2s;
}

div.modal-overlay .modal form div.buttons-group .cancel:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */